@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');
body{
    font-family: 'Montserrat', 'Roboto', sans-serif;
    background-image: url(img/logo.png) ;
    background-color: #bbbbbb15;
    
}

header {
    background-color: #bbbbbb;
    background: url(img/bgheader.jpg);
    width: auto;
    height: auto;
    overflow: hidden
}

.caixa_header {
    width: 100%;
    height: auto;
    overflow: hidden;
    
}.conteudo_header {
    width: 60%;
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 15px ;
}

.titulo_header{
    font-family: 'Monoton', cursive;
    width: auto;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin:auto;
    color: #C78C19;
    font-size: 3em;
    
}


.logo_header {
    width: 177px;
    height: 250px;
    margin:auto;
}

.endereco{
    color: white;
    width: 30%;
    text-align: center;
    background-color: transparent;
    font-weight: 300;
    font-size: 1.5em;
    margin: auto;
    padding: 15px;
}
.caixa_horario{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
}
table{
    font-weight: 300;
    font-size: 1.5em;
    margin: auto;
}

table tr, th,td{
    color: white; 
    padding: 2px 2px;
    
    font-size: 25px;
}
main{
    background: linear-gradient( rgb(255, 255, 255) 20%, rgba(255, 255, 255, 0.935) );
    width: auto;
    height: auto;
    overflow: hidden;
    
}
.caixa_resumo {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.conteudo_resumo {
    width: 60%;
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 50px 15px;
}


main h2{
    display: inline-block;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    color: #af7b12;
    margin: 0 0 1em;
}

main h3 {
    text-align: center;
    width: 50%;
    margin: 1em auto;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    color: #af7b12; 
}


.caixa_resumo h3 {
    text-align: center;
    width: 50%;
    margin: 1em auto;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    color: #af7b12; 
}

main h4 {
    text-align: center;
    padding: 1em 0 0 0;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
}

.caixa_resumo p {
    font-size: 1.2em;
}
.caixa_localizacao {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.conteudo_localizacao{
    width: 60%;
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 25px 15px;
}
 
.conteudo_localizacao p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa{
    border-radius: 5px 50px 5px 50px;
    box-shadow: 5px 5px 5px grey;
}

.caixa_beneficios {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.conteudo_beneficios{
    width: 60%;
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 25px 15px;
}

.caixa_lista_beneficios{
    background-image: url(img/beneficios.jpg);
    background-size: 100%;
    background-repeat: inherit;
    width: 90%;
    height: auto;
    margin: auto;
    align-content: center;
    border-radius: 5px 50px 5px 50px;
    box-shadow: 5px 5px 5px grey;    
    
}
.lista_beneficios{
    
    width:100%;
    height: auto;
    overflow: hidden;
    margin: 15px auto;
}

.itens{
    color: rgb(255, 255, 255);
    line-height: 2;
    font-size: 1.5em;
    font-weight: 500;
    width: 100%;
    margin: auto;
    height: auto;
    text-align: center;
    text-shadow:1px 1px 1px #ffffff57;
}
.caixa_beneficios h3{
    font-size: 3em;
    margin: 15px auto;
}

.caixa_video {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 25px 0px;
    
}
.video{
    width: 40%;
    height: 380px;
    overflow: hidden;
    padding-bottom: 0;
    margin: auto;
    border-radius: 5px 50px 5px 50px;
    box-shadow: 5px 5px 5px grey; 
    
}
.caixa_produtos{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.conteudo_produtos{
    width: 60%;
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 25px 15px;
}
.produtos {
    width: 100%;
    text-align: center;
    margin: auto;
    
}

.produtos li {
    float: left;
    background-color: white;
    display: inline;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 1px solid black ;
    border-radius: 3px 40px 3px 40px;
    transition: 0.3s;
    box-shadow: 3px 3px 3px grey;
}

.produtos li:hover{
    border-color: #C78C19;
    border-radius: 40px 40px 40px 3px;
    
}

.produtos li:active{
    border-color: blanchedalmond;
}

.produtos h2{
    text-align: center;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    color: #af7b12;
}
.produtos img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.descricao_produto {
    font-size: 18px;
    font-weight: 300;    
}
.preco_produto{
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0 0;
}

.caixa_contato {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.conteudo_contato{
    width: 60%;
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 25px 15px;
}
form{
    margin: 40px auto;
    text-align: center;
    align-items: center;
    
}
form label, form legend {
    display: block;
    font-size: 20px;
    font-weight: 300;
    margin: 10px auto;
}
form fieldset select{
    width: 20%;
    height: 35px;
    text-align: center;
}

.input_padrao {
    display: block;
    margin:20px auto;
    padding: 10px 25px;
    width: 35%;
    border-radius: 0 18px 0 18px;
    border-style: solid;
    border-color: #C78C19;
}

.checkbox {
    margin: 20px 0 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: #C78C19;
    color: white;
    border: none;
    border-radius: 0 18px 0 18px;
    transition: 0.5s;
}
.enviar:hover {
    background-color: #574624;
    border-radius: 18px 18px 18px 2px;
    cursor: pointer;
    transform: scale(1.2);
}



footer {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    background: url(img/bg.jpg);
    
}
.caixa_footer{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.conteudo_footer{
    width: 60%;
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 25px 15px;
}


.direitos {
    width: 100%;
    float: left;
    color: white;
    font-weight: 300;
}

@media screen and (max-width: 940px){
    .conteudo_header, .endereco {
        width: 100%;
        padding: 0;
        margin: auto;
    }

}
@media screen and (max-width: 480px){
    .caixa_header, .titulo_header, .logo_header img, .endereco, .caixa_resumo, .localizacao, .conteudo_beneficios, .imagem_beneficios, .lista_beneficios, .video, .caixa_produtos, .produtos li, .caixa_contato, form .input_padrao, .conteudo_beneficios {
        width: 100%;
        margin: 1em auto;
    }

    
    
}